[submodule "nuxt"]
	path = nuxt
	url = git@github.com:ExtTeam/nuxt-starter.git
	branch = main
[submodule "directus"]
	path = directus
	url = git@github.com:ExtTeam/directus-starter.git
	branch = main
