[submodule "nuxt"]
	path = nuxt
	url = git@github.com:ExtTeam/sporagt-nuxt.git
	branch = main
[submodule "directus"]
	path = directus
	url = git@github.com:ExtTeam/sporagt-directus.git
	branch = main
